*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  ul {
    list-style: none;
    li {
      margin: 10px;
      span {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  button {
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
    transition: all 0.5s ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
  .btnContainer {
    .details {
      background-color: #f5c518;
    }
    .edit {
      background-color: #4287f5;
    }
    .delete {
      background-color: #f44336;
    }
  }

  form{
    textarea{
      padding: 10px;
      margin: 10px;
      border-radius: 25px;
      border: 2px solid black;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      padding: 10px;
      margin: 10px;
      border-radius: 25px;
      border: 2px solid black;
    }
    button{
      padding: 10px;
      margin: 10px;
      width: 150px;
      border-radius: 25px;
      border: 2px solid black;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover {
        scale: 1.1;
      }
    }
  }

  .menu-bar {
    border: radius 25px;
    height: fit-content;
    display: inline-flex;
    backdrop-filter: blur(10px);
    padding: 0 10px;
    align-items: center;
    margin: 50px;
    .nav-item {
      list-style: none;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
      padding: 12px 16px;
      margin: 0 8px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: 0.2s;
        border-radius: 25px;
      }
      &:hover {
        &::before {
          background: linear-gradient(to bottom, #e8edec, #d2d1d3);
          box-shadow: 0 3px 20px 0 black;
          transform: scale(1.2);
        }
      }
      color: black;
    }
  }
  .addBtn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 50px;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}

@media (max-width: 768px) {
  body {
    .menu-bar {
      display: flex;
      flex-direction: column;
    }
  }
}
